## Customer Churn Prediction

Import Libraries

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

Data Preprocessing

In [2]:
df = pd.read_csv('customer_churn.csv')

In [3]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [6]:
df['TotalCharges'] = df['Price'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7043 non-null   object
 21  Price             7032 non-null   float64
dtypes: float64(3), int64(2), object(17)
memory usage: 1.2+ MB

In [8]:
df['gender']

0       Female
1         Male
2         Male
3         Male
4       Female
         ...
7038      Male
7039    Female
7040    Female
7041      Male
7042      Male
Name: gender, Length: 7043, dtype: object

In [9]:
df['gender'] = df['gender'].map({'Male':0,'Female':1})

In [10]:
df['gender']

0       1
1       0
2       0
3       0
4       1
       ..
7038    0
7039    1
7040    1
7041    0
7042    0
Name: gender, Length: 7043, dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   int64
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7043 non-null   object
 21  Price             7032 non-null   float64
dtypes: float64(3), int64(3), object(16)
memory usage: 1.2+ MB

In [12]:
df['SeniorCitizen'].value_counts()

0    5901
1    1142
Name: SeniorCitizen, dtype: int64

In [13]:
df['Partner'].value_counts()

No     3641
Yes    3402
Name: Partner, dtype: int64

In [14]:
df['Dependents'].value_counts()

No     4933
Yes    2110
Name: Dependents, dtype: int64

In [15]:
df.drop('Partner',axis=1,inplace = True)

In [16]:
df.drop('Dependents',axis=1,inplace = True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   int64
 2   SeniorCitizen     7043 non-null   int64
 3   tenure            7043 non-null   int64
 4   PhoneService      7043 non-null   object
 5   MultipleLines     7043 non-null   object
 6   InternetService   7043 non-null   object
 7   OnlineSecurity    7043 non-null   object
 8   OnlineBackup      7043 non-null   object
 9   DeviceProtection  7043 non-null   object
 10  TechSupport       7043 non-null   object
 11  StreamingTV       7043 non-null   object
 12  StreamingMovies   7043 non-null   object
 13  Contract          7043 non-null   object
 14  PaperlessBilling  7043 non-null   object
 15  PaymentMethod     7043 non-null   object
 16  MonthlyCharges    7043 non-null   float64
 17  TotalCharges      7032 non-null   float64
 18  Churn             7043 non-null   object
 19  Price             7032 non-null   float64
dtypes: float64(3), int64(3), object(14)
memory usage: 1.1+ MB

In [18]:
df['Contract'].unique()

array(['Month-to-month', 'One year', 'Two year'], dtype=object)

In [19]:
df['Contract'] = df['Contract'].map({'Month-to-month':1,'One year':2,'Two year':3})

In [20]:
df['Contract']

0       1
1       2
2       1
3       2
4       1
       ..
7038    2
7039    2
7040    1
7041    1
7042    3
Name: Contract, Length: 7043, dtype: int64

In [21]:
df.head(1)

,customerID,gender,SeniorCitizen,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Price
0,7590-VHVEG,1,0,1,No,No phone service,DSL,No,Yes,No,No,No,No,1,Yes,Electronic check,29.85,29.85,No,29.85

In [22]:
df['PaperlessBilling'].unique()

array(['Yes', 'No'], dtype=object)

In [23]:
df['PaymentMethod'].unique()

array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
       'Credit card (automatic)'], dtype=object)

In [24]:
df.drop(['PaperlessBilling','PaymentMethod'],axis=1,inplace=True)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   int64
 2   SeniorCitizen     7043 non-null   int64
 3   tenure            7043 non-null   int64
 4   PhoneService      7043 non-null   object
 5   MultipleLines     7043 non-null   object
 6   InternetService   7043 non-null   object
 7   OnlineSecurity    7043 non-null   object
 8   OnlineBackup      7043 non-null   object
 9   DeviceProtection  7043 non-null   object
 10  TechSupport       7043 non-null   object
 11  StreamingTV       7043 non-null   object
 12  StreamingMovies   7043 non-null   object
 13  Contract          7043 non-null   int64
 14  MonthlyCharges    7043 non-null   float64
 15  TotalCharges      7032 non-null   float64
 16  Churn             7043 non-null   object
 17  Price             7032 non-null   float64
dtypes: float64(3), int64(4), object(11)
memory usage: 990.5+ KB

In [26]:
df['PhoneService'] = df['PhoneService'].map({'Yes':1,'No':0})

In [27]:
df.head()

,customerID,gender,SeniorCitizen,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn,Price
0,7590-VHVEG,1,0,1,0,No phone service,DSL,No,Yes,No,No,No,No,1,29.85,29.85,No,29.85
1,5575-GNVDE,0,0,34,1,No,DSL,Yes,No,Yes,No,No,No,2,56.95,1889.50,No,1889.50
2,3668-QPYBK,0,0,2,1,No,DSL,Yes,Yes,No,No,No,No,1,53.85,108.15,Yes,108.15
3,7795-CFOCW,0,0,45,0,No phone service,DSL,Yes,No,Yes,Yes,No,No,2,42.30,1840.75,No,1840.75
4,9237-HQITU,1,0,2,1,No,Fiber optic,No,No,No,No,No,No,1,70.70,151.65,Yes,151.65

In [28]:
df['OnlineSecurity'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [29]:
df['InternetService'].unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [30]:
df['OnlineBackup'].unique()

array(['Yes', 'No', 'No internet service'], dtype=object)

In [31]:
df['DeviceProtection'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [32]:
df['OnlineSecurity'] = df['OnlineSecurity'].map({'No':0,'No internet service':0,'Yes':1})

In [33]:
df['OnlineSecurity']

0       0
1       1
2       1
3       1
4       0
       ..
7038    1
7039    0
7040    1
7041    0
7042    1
Name: OnlineSecurity, Length: 7043, dtype: int64

In [34]:
df['OnlineBackup'] = df['OnlineBackup'].map({'No':0,'No internet service':0,'Yes':1})

In [35]:
df['OnlineBackup']

0       1
1       0
2       1
3       0
4       0
       ..
7038    0
7039    1
7040    0
7041    0
7042    0
Name: OnlineBackup, Length: 7043, dtype: int64

In [36]:
df['DeviceProtection'] = df['DeviceProtection'].map({'No':0,'No internet service':0,'Yes':1})

In [37]:
df['DeviceProtection']

0       0
1       1
2       0
3       1
4       0
       ..
7038    1
7039    1
7040    0
7041    0
7042    1
Name: DeviceProtection, Length: 7043, dtype: int64

In [38]:
df['TechSupport'] = df['TechSupport'].map({'No':0,'No internet service':0,'Yes':1})

In [39]:
df['TechSupport']

0       0
1       0
2       0
3       1
4       0
       ..
7038    1
7039    0
7040    0
7041    0
7042    1
Name: TechSupport, Length: 7043, dtype: int64

In [40]:
df['StreamingTV'] = df['StreamingTV'].map({'No':0,'No internet service':0,'Yes':1})

In [41]:
df['StreamingTV']

0       0
1       0
2       0
3       0
4       0
       ..
7038    1
7039    1
7040    0
7041    0
7042    1
Name: StreamingTV, Length: 7043, dtype: int64

In [42]:
df['StreamingMovies'] = df['StreamingMovies'].map({'No':0,'No internet service':0,'Yes':1})

In [43]:
df['StreamingMovies']

0       0
1       0
2       0
3       0
4       0
       ..
7038    1
7039    1
7040    0
7041    0
7042    1
Name: StreamingMovies, Length: 7043, dtype: int64

In [44]:
df.head()

,customerID,gender,SeniorCitizen,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn,Price
0,7590-VHVEG,1,0,1,0,No phone service,DSL,0,1,0,0,0,0,1,29.85,29.85,No,29.85
1,5575-GNVDE,0,0,34,1,No,DSL,1,0,1,0,0,0,2,56.95,1889.50,No,1889.50
2,3668-QPYBK,0,0,2,1,No,DSL,1,1,0,0,0,0,1,53.85,108.15,Yes,108.15
3,7795-CFOCW,0,0,45,0,No phone service,DSL,1,0,1,1,0,0,2,42.30,1840.75,No,1840.75
4,9237-HQITU,1,0,2,1,No,Fiber optic,0,0,0,0,0,0,1,70.70,151.65,Yes,151.65

In [45]:
df.drop('customerID',axis = 1,inplace = True)

In [46]:
df.dropna(subset=['TotalCharges'], inplace = True)

In [47]:
df['InternetServiceCount'] = df['OnlineSecurity'] + df['OnlineBackup'] + df['DeviceProtection']+df['TechSupport']+df['StreamingTV']+df['StreamingMovies']

In [48]:
df['InternetServiceCount'].head()

0    1
1    2
2    2
3    3
4    0
Name: InternetServiceCount, dtype: int64

In [49]:
df.head()

,gender,SeniorCitizen,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn,Price,InternetServiceCount
0,1,0,1,0,No phone service,DSL,0,1,0,0,0,0,1,29.85,29.85,No,29.85,1
1,0,0,34,1,No,DSL,1,0,1,0,0,0,2,56.95,1889.50,No,1889.50,2
2,0,0,2,1,No,DSL,1,1,0,0,0,0,1,53.85,108.15,Yes,108.15,2
3,0,0,45,0,No phone service,DSL,1,0,1,1,0,0,2,42.30,1840.75,No,1840.75,3
4,1,0,2,1,No,Fiber optic,0,0,0,0,0,0,1,70.70,151.65,Yes,151.65,0

In [50]:
df.drop(['OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies'], axis=1, inplace=True)

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   gender                7032 non-null   int64
 1   SeniorCitizen         7032 non-null   int64
 2   tenure                7032 non-null   int64
 3   PhoneService          7032 non-null   int64
 4   MultipleLines         7032 non-null   object
 5   InternetService       7032 non-null   object
 6   Contract              7032 non-null   int64
 7   MonthlyCharges        7032 non-null   float64
 8   TotalCharges          7032 non-null   float64
 9   Churn                 7032 non-null   object
 10  Price                 7032 non-null   float64
 11  InternetServiceCount  7032 non-null   int64
dtypes: float64(3), int64(6), object(3)
memory usage: 714.2+ KB

In [52]:
df['MultipleLines'] = df['MultipleLines'].map({'No phone service':0, 'No':0, 'Yes':1})

In [53]:
df['PhoneService'] = df['PhoneService'] + df['MultipleLines']

In [54]:
df['PhoneService'].unique()

array([0, 1, 2])

In [55]:
df.drop('MultipleLines', axis=1, inplace=True)

In [56]:
df.head()

,gender,SeniorCitizen,tenure,PhoneService,InternetService,Contract,MonthlyCharges,TotalCharges,Churn,Price,InternetServiceCount
0,1,0,1,0,DSL,1,29.85,29.85,No,29.85,1
1,0,0,34,1,DSL,2,56.95,1889.50,No,1889.50,2
2,0,0,2,1,DSL,1,53.85,108.15,Yes,108.15,2
3,0,0,45,0,DSL,2,42.30,1840.75,No,1840.75,3
4,1,0,2,1,Fiber optic,1,70.70,151.65,Yes,151.65,0

In [57]:
df['InternetService'].unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [58]:
df['InternetService'] = df['InternetService'].map({'DSL':1, 'Fiber optic':2, 'No':0})

In [59]:
df['Churn'] = df['Churn'].map({'Yes':1,'No':0})

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   gender                7032 non-null   int64
 1   SeniorCitizen         7032 non-null   int64
 2   tenure                7032 non-null   int64
 3   PhoneService          7032 non-null   int64
 4   InternetService       7032 non-null   int64
 5   Contract              7032 non-null   int64
 6   MonthlyCharges        7032 non-null   float64
 7   TotalCharges          7032 non-null   float64
 8   Churn                 7032 non-null   int64
 9   Price                 7032 non-null   float64
 10  InternetServiceCount  7032 non-null   int64
dtypes: float64(3), int64(8)
memory usage: 659.2 KB

## Model Building and Accuracy Prediction

1. Logistic Regression

In [61]:
y = df['Churn'].values
X = df.drop(columns = ['Churn'])

# Scaling all the variables to a range of 0 to 1
from sklearn.preprocessing import MinMaxScaler
features = X.columns.values
scaler = MinMaxScaler(feature_range = (0,1))
scaler.fit(X)
X = pd.DataFrame(scaler.transform(X))
X.columns = features

In [62]:
X

,gender,SeniorCitizen,tenure,PhoneService,InternetService,Contract,MonthlyCharges,TotalCharges,Price,InternetServiceCount
0,1.0,0.0,0.000000,0.0,0.5,0.0,0.115423,0.001275,0.001275,0.166667
1,0.0,0.0,0.464789,0.5,0.5,0.5,0.385075,0.215867,0.215867,0.333333
2,0.0,0.0,0.014085,0.5,0.5,0.0,0.354229,0.010310,0.010310,0.333333
3,0.0,0.0,0.619718,0.0,0.5,0.5,0.239303,0.210241,0.210241,0.500000
4,1.0,0.0,0.014085,0.5,1.0,0.0,0.521891,0.015330,0.015330,0.000000
...,...,...,...,...,...,...,...,...,...,...
7027,0.0,0.0,0.323944,1.0,0.5,0.5,0.662189,0.227521,0.227521,0.833333
7028,1.0,0.0,1.000000,1.0,1.0,0.5,0.845274,0.847461,0.847461,0.666667
7029,1.0,0.0,0.140845,0.0,0.5,0.0,0.112935,0.037809,0.037809,0.166667
7030,0.0,1.0,0.042254,1.0,1.0,0.0,0.558706,0.033210,0.033210,0.000000
7031,0.0,0.0,0.915493,0.5,1.0,1.0,0.869652,0.787641,0.787641,0.833333

In [81]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=101)

In [82]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
result = model.fit(X_train, y_train)

In [83]:
from sklearn import metrics
prediction_test = model.predict(X_test)
# Print the prediction accuracy
print (metrics.accuracy_score(y_test, prediction_test))

0.8003412969283277

2. Random Forest

In [97]:
#Random Forest
from sklearn.ensemble import RandomForestClassifier
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=101)
model_rf = RandomForestClassifier(n_estimators=1000 , oob_score = True, n_jobs = -1,
                                  random_state =50, max_features = "auto",
                                  max_leaf_nodes = 30)
model_rf.fit(X_train, y_train)

# Make predictions
prediction_test = model_rf.predict(X_test)
print (metrics.accuracy_score(y_test, prediction_test))

0.8100113765642776

3. ADA Boost

In [92]:
# AdaBoost Algorithm
from sklearn.ensemble import AdaBoostClassifier
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=101)
model = AdaBoostClassifier()

model.fit(X_train,y_train)
preds = model.predict(X_test)
metrics.accuracy_score(y_test, preds)

0.8128555176336746

4. XG Boost

In [96]:
# XGBoost
from xgboost import XGBClassifier
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=101)
model = XGBClassifier()
model.fit(X_train, y_train)
preds = model.predict(X_test)
metrics.accuracy_score(y_test, preds)

0.7906712172923777